@import "./Vars";

.Grid-container {
  max-width: 100%;
}

.Home-slide {
  width: 100%;
  height: 300px;
  max-height: 300px;
}

.Home-slide img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.Home-ad {
  width: 100%;
  height: 200px;
  max-height: 200px;
}

.Home-ad img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.am-carousel {
  .slick-dots {
    li {
      width: 20px;
      button:before {
        font-size: 20px;
      }
    }

    li.slick-active button:before {
      color: @main-color;
      font-size: 26px;
    }
  }
}

.am-accordion {
  border-top: 1px solid #dee;
  border-bottom: 1px solid #dee;

  .am-accordion-item {
    .am-accordion-header {
      font-size: @font-size-5;
      color: #2d2d2d;
      opacity: 0.6;
      height: 45px;
      line-height: 45px;

      &:after {
        border-bottom: 1px solid #dee;
      }

      i {
        top: 20px;
        height: 20px;
      }
    }
  }
}

.am-list {
  padding: 1px 0;
  background-color: #eee;

  font-size: @font-size-4;
  .am-list-item {

    min-height: 40px;

    .am-list-line {
      .am-list-content {
        font-size: @font-size-5;
        color: #2d2d2d;
        opacity: 0.6;
      }

      .am-list-extra {
        font-size: 15px;
        white-space: normal;
      }
      .am-list-arrow {
        width: 15px;
        height: 15px;
      }

    }
  }
}

.home-shortcut-list {
  padding: 0px 0 0px 0;
  margin-top: 5px;

}

.from-loc-hd {
  height: 30px;
  opacity: 0.8;
  font-size: 18px;
  color: #888 !important;
  background-color: #F7F7F7;
  padding: 10px 0 0 30px;
  margin: -6px -5px 0 -5px;
}

.from-loc-ct {
  opacity: 0.9;
  height: 30px;
  font-size: 17px;
  color: #888 !important;
  padding: 20px 0 0 30px;
  margin: -4px 0 0 0;
}
.scenic-loc-hd{
  height: 30px;
  opacity: 1.0;
  font-size: 18px;
  color: #888;
  background-color: #efefef;
  padding: 10px 0 0 20px;
  margin: -5px 0 0 0px;
  border-top: 1px solid lightgrey;

  .span-1{
    float: left;
  }
  .span-2{
    float: right;
    margin-right: 20px;
    padding-top: 3px;
    font-size: 15px;
  }
}

.travel-find-page{

  .am-segment{
    border-radius: 6px;
    border: 1px solid #f7f7f7;
    margin: 6px 60px 6px 60px;
  }

  .am-segment-item{
    padding: 10px 0;
    width: 100px;
    font-size: 16px;
  }
}
.flex-container{
  img{
    position: inherit;
    width: 100%;
    height: 120px;
  }
  .img-text{
    color: white;
    position:relative;
    font-size: 16px;
    top:-70px;
    z-index: 4;
    text-align: center;
  }
}
.scenic-else{
  font-size: 18px;
  color: black;
}
.city-div{
  margin: 0 0 0 0;
  width: 100%;
}



